.header{
    &__container{
        h1{
            display: flex;
            justify-content: space-between;
            padding: 8px 36px;
        }
    }

    &__logo{
        margin: 5px;
        max-width: 80px;
        width: 100%;
    }

    &__links{
        display: flex;

        &__item {
            margin: 5px;
            list-style: none;

            a{
                text-decoration: none;
            }
        }
    }

    .button{
        height: 50px;
    }
}