.watch-anywhere{
    padding: 5.6vw; //espaçamento do container da seção
    display: grid; //utilizando grid
    grid-template-columns: 1fr 1fr; //dividindo tela em colunas
    align-items: center; //alinhando na vertical

    img{ //definindo tamanho máximo da imagem
        max-width: 100%;
        
    }

    p{ //estilização do parágrafo
        margin-top: 24px;
        text-align: left;
    }

    &__text_container{ //container dos textos
        padding: 2vw;
    }
}