//arquivos scss importados
@use 'variaveis';
@use 'hero';
@use 'shows';
@use 'plans';
@use 'watch-anywhere';

//Inserindo Fonte customizada
@font-face{ //código para inserir fonte
    font-family: Avenir; //Escolheremos um nome para a fonte importada
    src: url(../../assets/fonts/Avenir-Regular.woff2); //aporntamos o local da fonte
    font-weight: 400;
}
@font-face{ //código para inserir fonte
    font-family: Avenir; //Escolheremos um nome para a fonte importada
    src: url(../../assets/fonts/Avenir-Bold.woff2); //aporntamos o local da fonte
    font-weight: 700;
}

//RESET
*{
    margin: 0;z
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: variaveis.$corDeFundo;
    font-family: Avenir, sans-serif;
}

//PADRONIZAÇÃO DE TEXTO (padrão - parágrafo)
//Foi realizada configuração para que "line-height" sempre tenha 10px a mais que o "font-size"

@mixin text ($fontSize: 16px){ //16px fica o valor default do $fontSize
    font-size: $fontSize;
    line-height: $fontSize + 10px;
    color: variaveis.$corTextoPrincipal;
}
        //Criando as CLASSES de texto
        .text--big{ //vamos abaixo utilizar o mixin
            @include text(18px);
        }
        .text {
            @include text; //não passamos parâmetro porque ele utilizar o valor padrão do mixin
        }
        .text--small{
            @include text(12px);
        }
        .link-text{
            @include text(18px);
            color: variaveis.$corTextoSecundario;
            text-decoration: underline;
        }

//PADRONIZAÇÃO DE TÍTULO

@mixin title ($fontSize: 40px){ //40px fica o valor default do $fontSize
    @include text($fontSize); //reutilizamos o código do mixin text
    color: variaveis.$corTextoSecundario;
}
        //Criando as CLASSES de título
        .title--big{ //vamos abaixo utilizar o mixin
            @include title(44px);
        }
        .title {
            @include title; //não passamos parâmetro porque ele utilizar o valor padrão do mixin
        }
        .title--small{
            @include title(28px); 
        }

        .button{
            display: block;
            width: 100%;
            height: 60px;
            margin-top: 2vw;
            margin-bottom: 8px;
            font-size: 18px;
            //para importar uma variável de outro arquivo, tem que 
            //colocar primeiro o "nome_do_arquivo.variavel"
            color: variaveis.$corTextoSecundario;
            background-color: #6421ff;
            text-transform: uppercase; //texto maiúsculo
            border: none;
            border-radius: 4px;  
        }