//arquivos scss importados
@use 'variaveis';
@use 'hero';
@use 'shows';
@use 'plans';
@use 'available-devices';
@use 'faq';
@use 'footer';
@use 'header';

//Inserindo Fonte customizada
@font-face{ //código para inserir fonte
    font-family: Avenir; //Escolheremos um nome para a fonte importada
    src: url(../../assets/fonts/Avenir-Regular.woff2); //aporntamos o local da fonte
    font-weight: 400;
}
@font-face{ //código para inserir fonte
    font-family: Avenir; //Escolheremos um nome para a fonte importada
    src: url(../../assets/fonts/Avenir-Bold.woff2); //aporntamos o local da fonte
    font-weight: 700;
}

//RESET
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: variaveis.$corDeFundo;
    font-family: Avenir, sans-serif;
}

//PADRONIZAÇÃO DE TEXTO (padrão - parágrafo)
//Foi realizada configuração para que "line-height" sempre tenha 10px a mais que o "font-size"

@mixin text ($fontSize: 16px){ //16px fica o valor default do $fontSize
    font-size: $fontSize;
    line-height: $fontSize + 10px;
    color: variaveis.$corTextoPrincipal;
}
        //Criando as CLASSES de texto
        .text--big{ //vamos abaixo utilizar o mixin
            @include text(18px);
        }
        .text {
            @include text; //não passamos parâmetro porque ele utilizar o valor padrão do mixin
        }
        .text--small{
            @include text(12px);
        }
        .link-text{
            @include text(18px);
            color: variaveis.$corTextoSecundario;
            text-decoration: underline;
        }

//PADRONIZAÇÃO DE TÍTULO

@mixin title ($fontSize: 40px){ //40px fica o valor default do $fontSize
    @include text($fontSize); //reutilizamos o código do mixin text
    color: variaveis.$corTextoSecundario;
}
        //Criando as CLASSES de título
        .title--big{ //vamos abaixo utilizar o mixin
            @include title(44px);
        }
        .title {
            @include title; //não passamos parâmetro porque ele utilizar o valor padrão do mixin
        }
        .title--small{
            @include title(28px); 
        }

        .button {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 60px;
            font-size: 18px;
            //para importar uma variável de outro arquivo, tem que 
            //colocar primeiro o "nome_do_arquivo.variavel"
            color: variaveis.$corTextoSecundario;
            background-color: variaveis.$corDeFundoBotaoPrimario;
            text-transform: uppercase; //texto maiúsculo
            border: none;
            border-radius: 4px;  
            padding: 8px 14px;
            letter-spacing: 1px; //espaçamento entre as letras
            border: 1px solid variaveis.$corDeFundoBotaoPrimario;
            transition: 0.5s;
            &:hover{
                background-color: lighten(variaveis.$corDeFundoBotaoPrimario, 3%);
                transition: 0.5s;
            }

            &--secondary {
                background-color: variaveis.$corDeFundoBotaoSecundario;
                border-color: variaveis.$corDeFundoBotaoSecundario;
                &:hover{
                    background-color: lighten(variaveis.$corDeFundoBotaoSecundario, 3%);
                }
            }
            &--dark{
                background-color: rgba(variaveis.$corDeFundoBotaoDark, 0.8);
                border-color: variaveis.$corTextoSecundario;
                &:hover{
                    background-color: variaveis.$corTextoSecundario;
                    color: variaveis.$corDeFundo;
                }
            }
        }

//classe genérica para seção com imagem e texto lateral        
        .image-text-section{ //Classe para a SEÇÃO
            padding: 5.6vw; //espaçamento do container da seção
            display: grid; //utilizando grid
            grid-template-columns: 1fr 1fr; //dividindo tela em colunas
            align-items: center; //alinhando na vertical
        
            img{ //definindo tamanho máximo da imagem
               max-width: 100%;
            }
        
            p{ //estilização do parágrafo
                margin-top: 24px;
                text-align: left;
            }
        
            &__text_container{ //container dos textos
                padding: 2vw;
            }
            //Classe só será utilizanda quando a imagem for do tamanho da tela.
            &--image-full-width{ //colocando a imagem do tamanho da section
                display: block; //proibir o ajuste automático dos elementos
                /*position relative é para obrigar o texto com position absolute, 
                a ficar posicionado em relação à section e não à toda a página*/
                position: relative; //para obrigar o texto a ficar dentro da section
                
                img{
                    width: 100%;
                }

                &__text_container{//colocando o text dentro da section com position absolute
                    position: absolute; //colocar o texto em uma posição fixa e em cima de elementos
                    top: 5.6vw;
                    height: 100%;
                    left: 50%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    width: calc(50% - 5.6vw) ;
                }               
            }
        }